@import 'variables';

#message {
  height: $message-height;
  display: grid;
  grid-template: auto / auto $material-font-size + 1rem;
  align-content: center;
  .send-input {
    padding: $margin-ver-sides;
    padding-left: $gap * 2;
    font-size: 1.2rem;
    border: $message-border;
    border-right: transparent;
    border-radius: $border-radius 0 0 $border-radius;
    // For MS Edge
    height: 100%;
  }
  .send-btn {
    padding: $margin-ver-sides;
    border: $message-border;
    border-left: transparent;
    border-radius: 0 $border-radius $border-radius 0;
    &:hover {
      cursor: pointer;
    }
  }
}
#conversation {
  grid-area: conversation;
  padding: $margin-ver-sides;
  padding-left: $gap;
}
