/* FILE: Global styles and also imports of other style files */

@import 'reset';
@import 'variables';
@import 'grid';
@import 'responsive-utils';
@import 'material-icons';

body {
  font-size: 1rem;
}
h1 {
  font-size: 2rem;
  @media (max-width: 991px) {
    // font-size: x.xrem;
  }
  @media (max-width: 575px) {
    // font-size: x.xrem;
  }
}
h2 {
  font-size: 1.2rem;
  @media (max-width: 991px) {
    // font-size: x.xrem;
  }
  @media (max-width: 575px) {
    // font-size: x.xrem;
  }
}
