@font-face {
  font-family: 'Acme-Regular';
  src: url(assets/fonts/acme/Acme-Regular.ttf);
}
@font-face {
  font-family: 'Gandhi-Sans-Bold';
  src: url(assets/fonts/gandhi-sans/GandhiSans-Bold.otf),
}
@font-face {
  font-family: 'Gandhi-Sans-BoldItalic';
  src: url(assets/fonts/gandhi-sans/GandhiSans-BoldItalic.otf),
}
@font-face {
  font-family: 'Gandhi-Sans-Italic';
  src: url(assets/fonts/gandhi-sans/GandhiSans-Italic.otf),
}
@font-face {
  font-family: 'Gandhi-Sans-Regular';
  src: url(assets/fonts/gandhi-sans/GandhiSans-Regular.otf),
}
