/* Colors */
$black: #333;
$grey: #999;
$white: #fff;

/* Spaces */
$header-height: 40px;
$nav-height: 45px;
$gap: 10px;
$padding-hor-sides: 0 $gap;
$margin-ver-sides: $gap 0;
$grid-gap: $gap * 2;

/* Borders and shadows */

